<ng-container
  *ngIf="{
    isHandset: isHandset$ | async,
    currentVideo: currentVideo$ | async
  } as pageConfig"
>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [attr.role]="pageConfig.isHandset ? 'dialog' : 'navigation'"
      [mode]="'over'"
      [opened]="pageConfig.isHandset"
    >
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <!-- <a mat-list-item href="#">Link 1</a>
        <a mat-list-item href="#">Link 2</a>
        <a mat-list-item href="#">Link 3</a> -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-container">
      <mat-toolbar *ngIf="pageConfig.currentVideo === null" color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="pageConfig.isHandset"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>PWA Video Player</span>
      </mat-toolbar>
      <app-video-player></app-video-player>
      <app-file-manager
        *ngIf="pageConfig.currentVideo === null"
      ></app-file-manager>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
